
@model IEnumerable<BolaoDaCopa2026.Models.Jogo>
@{
    var apostas = ViewBag.Apostas as List<BolaoDaCopa2026.Models.Aposta>
        ;
}

<header>
    <h1>Palpites</h1>
</header>

<div class="container">

    @foreach (var jogo in Model)
    {
        var aposta = apostas?.FirstOrDefault(a => a.JogoId == jogo.Id);

        <div class="fase">
            <h2>@jogo.Fase</h2>

            <div class="jogo @(jogo.EstaAberto ? " aberto" : "encerrado")">

                <div class="times">
                    <div class="time">
                        <img src="@jogo.SelecaoA.BandeiraUrl" />
                        @jogo.SelecaoA.Nome
                    </div>

                    <span class="vs">vs</span>

                    <div class="time">
                        <img src="@jogo.SelecaoB.BandeiraUrl" />
                        @jogo.SelecaoB.Nome
                    </div>
                </div>

                <div class="info">
                    @jogo.DataHora.ToString("dd/MM HH:mm")
                </div>

                <div class="acao">
                    @if (jogo.EstaAberto)
                    {
                        <form asp-action="Salvar" method="post" class="palpite">
                            <input type="hidden" name="jogoId" value="@jogo.Id" />

                            <div class="placar">
                                <input type="number"
                                       name="golsSelecaoA"
                                       min="0"
                                       value="@aposta?.GolsSelecaoA" />

                                <span class="x">x</span>

                                <input type="number"
                                       name="golsSelecaoB"
                                       min="0"
                                       value="@aposta?.GolsSelecaoB" />
                            </div>

                            <button class="btn btn-salvar">
                                @(aposta == null ? "Salvar" : "Atualizar")
                            </button>
                        </form>
                    }
                    else
                    {
                        <div class="placar">
                            <strong>@aposta?.GolsSelecaoA</strong>
                            <span class="x">x</span>
                            <strong>@aposta?.GolsSelecaoB</strong>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

</div>
