@using Microsoft.AspNetCore.Http
@{
    var isHome = ViewData["Title"]?.ToString() == "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BolaoDaCopa2026</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BolaoDaCopa2026.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Jogos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TelaLogin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Apostas.css" asp-append-version="true" />


</head> 
<body>

    @if (!isHome && Context.Session.GetString("NomeUsuario") != null)
    {
        <div class="text-center my-4">
            <p class="text-muted mb-1">Bem-vindo de volta</p>
            <h2 class="fw-semibold">
                @Context.Session.GetString("NomeUsuario")
            </h2>
        </div>
    }

    <div class="@(isHome ? "" : "container")">
        <main role="main" class="@(isHome ? "" : "pb-3")">
            @RenderBody()
        </main>
    </div>

    @if (!isHome)
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2025 - BolaoDaCopa2026
            </div>
        </footer>
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>